/* --- RESET E CONFIGURAÇÕES BÁSICAS --- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

body {
    background-color: #0b0612;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    /* Sem padding-top para o site encostar perfeitamente no topo do ecrã */
    min-height: 100vh;
}

/* Renderização Pixel Art nítida para todas as imagens */
img {
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}

/* --- CONTAINER ÂNCORA (1440x1024) --- */
.tela-container {
    width: 1440px;
    height: 1024px;
    position: relative;
    
    /* Imagem de fundo corrigida para o nome exato no repositório */
    background-image: url('fundo.png'); 
    
    background-size: 1440
